# Virtual environment
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Dataset (IMPORTANT - optional depending on your goal)
dataset/
uploads/

# Encodings / AI artifacts
encodings/encodings.pkl
*.pkl
*.npy

# Logs
*.log

# Jupyter (if used later)
.ipynb_checkpoints/

# Environment variables
.env